@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap");

  
  nav{
    align-items: center;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0,0,0,.09);
    display: flex;
    font-size: 1.7rem;
    height: 30px;
    padding-bottom: 500px;
    left: 0;
    padding: 25px 20px 25px 25px;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 200;
    border-right: 20px;
    
}

.nav{
    display: flex;
    list-style-type: none;
    gap: 20px;
    padding-left: 1000px;
    
}

.logo{
    color: #2d2e32;
    cursor: pointer;
    font-size: 20px;
    padding-left: 20px;
    font-family:cursive;
}

h1{
    display: block;
    font-size: 1.17em;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
}

a{
    color: #2d2e32;
    font-weight: bolder;
    text-decoration: none;
    font-family: sans-serif;
    font-size: 17.5px;
}

.hero{
    background-color: #f9f9f9;
    display: flex;
    flex-direction: column;
    height: 100vh;
    position: relative;
    width: 100%;
}


.container{
    
    margin: 0 auto;
    max-width: 107rem;
    padding: 0 4rem;
}

.list{
    display: flex;
    list-style-type: none;
}

.title{
    font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 55px;
    font-weight: bold;
    height: 132px;
    width: 500px;
    color: #2d2e32;
    padding-left: 200px;
    margin-top: 2rem;
    margin-bottom: 2rem;
    display: inline-block;
    line-height: 1.3;
}

.image1{
    width: 60px;
    height: 60px;
    overflow-clip-margin: content-box;
    overflow: clip;
    margin-top: 20px;
    
}

.intro{
    color: #555555;
    font-size: 18px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    padding-left: 200px;
}

.profile{
    padding-left: 200px;
}

/* .image2{
    float: right;
    width: 300px;
    height: 300px;
    border-radius: 60%;
} */

.content{
    align-items: center;
    display: flex;
    gap: 5rem;
    height: 650px;
    width: 950px;
    justify-content: center;
    position: relative;
}

.main{
    align-items: center;
    display: flex;
    gap: 10rem;
    justify-content: center;
    position: relative;
}

.text{
    display: flex;
    flex-direction: column;
    max-width: 50rem;
    position: relative;
}

.image2{
    
    animation: morph 8s ease-in-out infinite;
    background-position: 50%;
    background-repeat: no-repeat;
    background-size: cover;
    border: 3px solid #2d2e32;
    border-radius: 50%;
    height: 20rem;
    position: relative;
    transition: all 1s ease-in-out;
    width: 20rem;
    object-fit: fill;
}

.skills ul li img{
    height: 50px;
    transition: all .3s ease-in-out;
    width: 11rem;
}

.skills ul li{
    cursor: pointer;
}

li{
    text-align: center  ;
}

.skills{
    align-items: center;
    bottom: 0;
    color: #767676;
    display: flex;
    font-size: 1.7rem;
    left: 0;
    position: absolute;
}

.skills p{
    border-right: 2px solid rgba(45,46,50,.5);
    color: #2d2e32;
    font-family: Mulish,sans-serif;
    font-weight: 600;
    margin-right: 7rem;
    padding-right: 2rem;
}

img{
    overflow-clip-margin: content-box;
    overflow: clip;
}

.skills ul{
    display: flex;
    flex-wrap: wrap;
    gap: 0.5rem;
    list-style: none;
}

section{
    display: block;
}

.text-side{
    padding-right: 1.5rem;
}

.text-side h3{
    color: #147efb;
    font-size: 1.7rem;
    font-weight: 700;
    margin-bottom: 1rem;
    text-transform: uppercase;
}

.text-side p{
    color: #767676;
    font-family: Mulish;
    font-size: 17px;
    font-weight: 500;
    line-height: 25px;

}

.text-side h4{
    color: #2d2e32;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 25px;
    line-height: 1.4;
    margin-bottom: 2rem;
    font-weight: 800;
}

.img-side__main-img{
    border-radius: 1.7rem;
    height: 35rem;
    width: 41rem;
}

.about{
    padding: 15rem 0;
    background-color: #fff;
}

.about-content{
    align-items: center;
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-content: center;
}

.work-emoji{
    padding-left: 100px;
    size: 200px 200px;
}

.project h1{
    color: #147efb;
    font-size: 2.7rem;
    font-weight: 700;
    margin-bottom: 1rem;
    text-transform: uppercase;
    text-align: center;
}

#projects{
    position: relative;
    height: fit-content;
}

.project-container{
    width: 100%;
    height: 580px;
    margin-top: 0;
    flex-wrap: wrap;
    padding-top: 50px;
    display: flex;
    justify-content: center ;
    
}


.color-container{
    border-color: rgb(163, 163, 163);
    background: rgb(250, 250, 250);
    width: 440px;
    height: 540px;
    border-radius: 2rem;
}

.project-img{
    border-radius: 2rem;
    width: 356px;
    height: 356px;
    justify-content: center;
}

.project-img2{
    border-radius: 2rem;
    width: 356px;
    height: 356px;
    justify-content: center;
}

.project-title{
    margin-bottom: 0.5rem;
    margin-top: 0.5rem;
    color: black;
    font-size: 28px;
    text-align: center;
    font-family: Poppins;
}

.article-container p{
    text-align: center;
    font-size: 20px;
    margin: 0%;
    
}

.project-btn{
    color: black;
    border-color: rgb(163, 163, 163);
    background-color: #fff;
    padding: 16px;
    border-radius: 20px;
}

.btn-container{
    flex-wrap: wrap;
    text-align: center;
}

.article-container{
    padding-top: 25px;
}

.details-container{
   
    border-radius: 2rem;
    border: rgb(53, 53, 53) 0.1rem solid;
    text-align: center;
    width: 447px;
    height: 543px;
    display: flex;
    margin-right: 110px;

  }
.details-container-2{
    border-radius: 2rem;
    border: rgb(53, 53, 53) 0.1rem solid;
    text-align: center;
    width: 447px;
    height: 543px;
    display: flex;

  }

  .color-container-2{
    border-color: rgb(163, 163, 163);
    background: rgb(250, 250, 250);
    width: 440px;
    height: 540px;
    border-radius: 2rem;
  }

  .contact{
    background: #fff;
    padding: 1rem
  }

  .contact__title p{
    color: #147efb;
    font-size: 17px;
    font-family: Poppins;
    font-weight: 1000;
    margin-bottom: 1rem;
    text-transform: uppercase;
}

.contact__title h3{
    color: #2d2e32;
    font-size: 40px;
}

.contact__icons{
    display: flex;
    flex-wrap: wrap;
    gap: 8rem;
    margin-top: 30px;
}

.contact__icon-box{
    align-items: center;
    display: flex;
    gap:15px;
}

.contact__icon-box span{
    align-items: center;
    background-color: #fff;
    border-radius: 50%;
    box-shadow: 0 0 10px rgba(0,0,0,.1);
    color: #147efb;
    display: flex;
    height: 5rem;
    justify-content: center;
    width: 5rem;
}
    
